
<button id="onClick" style="border-radius: 5px; padding: 10px; background-color:blanchedalmond;">Hello World</button>


<div class="append"></div>



<script>
    $(document).ready(function () {
        $("#onClick").click(function () {
            console.log("button clicked");
  
        });
    });
</script>
